/*
|
|=================================
|Custom Stylesheeet BY Adil Hasan / Sumon Mahmud
|=================================
|
*/
.routineTable tr,
.routineTable td {
    margin: 0;
    padding: 0 !important;
    vertical-align: middle !important;
}

.routineTable td,
.routineTable th {
    border: 1px solid #ccc !important;
}

.routineTable table {
    margin: 0
}

.routineTable .courseSection {
    min-width: 90px;
}

.courseSection .courseTitle {
    width: 50%;
}

.table.routineTable .table {
    background-color: transparent;
}

.table.routineTable .table td {
    height: 90px
}

.atndPanel .atndStatus {
    color: #000
}

.tblFullwidth {
    width: 100%
}

.tblCenter {
    text-align: center;
}

.tblCenter td {
    padding: 3px 0;
}

.atndStatus {
    color: #000 !important
}

.monitorCell .viewPart {
    display: none;
    visibility: hidden;
    transition: all .8s;
}

.monitorCell:hover .viewPart {
    display: block;
    visibility: visible;
    background:
}

.monitorCell:hover .infoPart {
    display: none
}

.monitorCell:hover {
    background: #7f8c8d;
    cursor: pointer
}

.monitorCell:hover .viewPart a {
    background-color: #fff;
    color: #636b6f;
    border-color: #fff;
}

.valError {
    color: #ff0000;
}

.viewPart a {
    margin-bottom: 10px
}

.success {
    background-color: #4CAF50;
    color: #fff;
}

/* Green */
.success:hover {
    background-color: #46a049;
    color: #fff
}

.info {
    background-color: #2196F3;
}

/* Blue */
.info:hover {
    background: #0b7dda;
    color: #fff
}

.warning {
    background-color: #ff9800;
    color: #fff;
}

/* Orange */
.warning:hover {
    background: #e68a00;
    color: #fff
}

.danger {
    background-color: #f44336;
    color: #fff;
}

/* Red */
.danger:hover {
    background: #da190b;
    color: #fff
}

.default {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.attendance {
    border: 1px solid #ccc
}

.default:hover {
    background: #ddd;
}

.attendance .table {
    margin: 22px 0;
}

.user-panel .info {
    background: none;
}

.homeWork .attendance {
    overflow-y: hidden;
}

.studGroup {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.box_custom {
    width: 100%;
    background: #FFFFFF;
    padding: 10px;
    color: #6a6c6f;
    margin-bottom: 20px;
    /*border: 1px solid #b5b5b5;*/
    border-radius: 15px;

}

.box_custom .box_custom_header {
    text-transform: uppercase;
    margin: 10px 0;
    padding-bottom: 7px;
    color: black;
}

.box_custom .box_custom_header h5 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.box_custom i.fa {
    color: #62cb31;
}

.box_custom .box_custom_header span {
    font-size: 11px;
    font-style: italic;
}

.box_custom .inner_box {
    margin: 5px 0;
}

.box_custom .inner_box.border_right {
    border-right: 1px solid #eaeaea;
}

.box_custom .inner_box.border_left {
    border-left: 1px solid #eaeaea;
}

.box_custom .inner_box h5 {
    font-weight: bold;
    margin: 0;
}

.box_custom .inner_box p {
    font-size: 11px;
}

/*.inline {*/
/*display: inline;*/
/*}*/

.multimedia-class tr td {
    width: 33% !important;
    text-align: center !important;
}

.box_custom h5 {
    padding-bottom: 12px;
}

.congrats {
    border-color: #0b7dda;
    border: 1px solid;
    background-color: white;
    color: #0b7dda;
    /*transition: all .5s;*/
}

.congrats:hover {
    background-color: white;
    border-color: black;

}

.todo-list .text {
    margin-top: -20px;
    text-align: justify;
}

.table {
    display: block !important;
}

@media (max-width: 1024px) {
    .my-center-text {
        text-align: center;
    }
}

.profile-user-img {
    width: 240px !important;
}


.skin-blue .main-header li.user-header {
    background-color: #fafcfd !important;
}